/**
*
* Main LESS
*
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,900");

/*===============================
=            Imports            =
===============================*/
// Core variables and mixins
@import "vendor/bootstrap/variables.less";
@import "vendor/bootstrap/mixins.less";
@import "../../bower_components/lesshat/build/lesshat.less";

.breve {
	background: url(../img/embreve.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/**
*
* Loader
*
**/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/**
*
* Home
*
**/

.home {
  height: 95vh;
  .slide-home {
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    .slick-list,
    .slick-track {
    	height: 100%;
    	width: 100%;
    }
    .slick-prev {
    	left: 10px;
    }
    .slick-next {
    	right: 10px;
    }
    img {

    	
    }
  }
}

/**
*
* Header
*
**/

header {
	margin-top: 20px;
	margin-bottom: 20px;
	.nav-pills {
		padding: 5px 0;
		li {
			margin-right: 30px;
			a {
				color: #000;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				text-transform: uppercase;
				padding: 4px 9px;
			}
		}
	}
}

/**
*
* Folio Content
*
**/

.folio {
	min-height: 100%;
	overflow-x: scroll;
	overflow-y: auto;
	max-height: 780px;
	.content {
		float: left;
		display: inline;
		width: 1900px;

	}
}

.border {
	border-right: 1px solid rgba(137, 137, 137, 0.4);
}
/**
*
* Works
*
**/

	.folio-thumb {
		max-width: 100%;
		height: auto;
	}
	.folio-list {
		.row {
			div {
				padding-left: 0;
				padding-right: 0;
				.transition(all .8s ease);
			}
		}
	}
	.folio-square {

		max-width: 410px;
		position: relative;
		.caption {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			.transition(all 0.8s ease-out);
			.opacity(0);
			&:hover {
				.transition(all 0.8s ease-in);
				.opacity(1);
				background: rgba(0, 0, 0, .78);
			}
			
			.content {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				color: #fff;
				height: 45px;
				text-align: left;
				padding-left: 15px;
				p {
					font-size: 14px;
				}
				h5 {
					font-size: 18px;
					font-weight: 800;
				}
			}
		}
	}


/**
*
* Page
*
**/
.page {
	height: 100%;

	.sidebar-page {
		height: 100%;
		h5 {
			color: #cfcfcf;
			text-transform: uppercase;
			font-weight: 800;
		}
	}

	.page-content {
		.logo {
			margin-bottom: 40px;
		}
	}
}

/**
*
* trabalhos
*
**/

.page-works {

	.sidebar {
		width: 300px;
		float: left;
		white-space: normal;
		padding-right: 10px;
	}
	#main {
		overflow: scroll;
		white-space: nowrap;
		.horizon {
			display: inline-block;
			overflow: scroll;

		}
	}
}

/**
*
* Clientes
*
**/

.clientes {
	.content {
		margin-bottom: 30px;
	}
	.item {
		margin-bottom: @grid-gutter-width;
	}
}
/**
*
* Footer
*
**/

footer {
  height: 50px;
  background-color: #fff;
  padding: 10px;
  .fa {
  	font-size: 28px;
  }
}

/**
*
* Buttons
*
**/

.btn-pdf {
	.size(140px, 25px);
	background-color: #00adef;
	.background-image(~"linear-gradient(bottom, #00e0ef 0%, #00e0ef 51.49%, #00d9d8 52.25%, #00d9d8 100%)");
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	padding: 2px 12px;
	text-shadow: 0px 1px 0px rgba(150, 150, 150, .4);

}

#scrollUp {
	right: 0;
	bottom:0;
	.size(50px, 50px);
	padding: 10px;
	font-size: 28px;
	color: #000;
	.fa {
		top: 0;
	}
}