@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,900");
/**
*
* Main LESS
*
**/
/*===============================
=            Imports            =
===============================*/
.breve {
  background: url(../img/embreve.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/**
*
* Home
*
**/
.home {
  height: 95vh;
}
.home .slide-home {
  height: 90%;
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
}
.home .slide-home .slick-list,
.home .slide-home .slick-track {
  height: 100%;
  width: 100%;
}
.home .slide-home .slick-prev {
  left: 10px;
}
.home .slide-home .slick-next {
  right: 10px;
}
/**
*
* Header
*
**/
header {
  margin-top: 20px;
  margin-bottom: 20px;
}
header .nav-pills {
  padding: 5px 0;
}
header .nav-pills li {
  margin-right: 30px;
}
header .nav-pills li a {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px 9px;
}
/**
*
* Folio Content
*
**/
.folio {
  min-height: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  max-height: 780px;
}
.folio .content {
  float: left;
  display: inline;
  width: 1900px;
}
.border {
  border-right: 1px solid rgba(137, 137, 137, 0.4);
}
/**
*
* Works
*
**/
.works .folio-thumb {
  max-width: 100%;
  height: auto;
}
.works .folio-square {
  margin-bottom: 30px;
  max-width: 410px;
  position: relative;
}
.works .folio-square .caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.works .folio-square .caption:hover {
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.78);
}
.works .folio-square .caption .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  height: 45px;
  text-align: left;
  padding-left: 15px;
}
.works .folio-square .caption .content p {
  font-size: 14px;
}
.works .folio-square .caption .content h5 {
  font-size: 18px;
  font-weight: 800;
}
/**
*
* Page
*
**/
.page {
  height: 100%;
}
.page .sidebar-page {
  height: 100%;
}
.page .sidebar-page h5 {
  color: #cfcfcf;
  text-transform: uppercase;
  font-weight: 800;
}
.page .page-content .logo {
  margin-bottom: 40px;
}
/**
*
* trabalhos
*
**/
.page-works .sidebar {
  width: 300px;
  float: left;
  white-space: normal;
  padding-right: 10px;
}
.page-works #main {
  overflow: scroll;
  white-space: nowrap;
}
.page-works #main .horizon {
  display: inline-block;
  overflow: scroll;
}
/**
*
* Clientes
*
**/
.clientes .content {
  margin-bottom: 30px;
}
.clientes .item {
  margin-bottom: 30px;
}
/**
*
* Footer
*
**/
footer {
  height: 50px;
  background-color: #fff;
  padding: 10px;
}
footer .fa {
  font-size: 28px;
}
/**
*
* Buttons
*
**/
.btn-pdf {
  width: 140px;
  height: 25px;
  background-color: #00adef;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMGUwZWYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjMDBlMGVmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzAwZDlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDBkOWQ4IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(bottom, #00e0ef 0%, #00e0ef 51.49%, #00d9d8 52.25%, #00d9d8 100%);
  background-image: -moz-linear-gradient(bottom, #00e0ef 0%, #00e0ef 51.49%, #00d9d8 52.25%, #00d9d8 100%);
  background-image: -o-linear-gradient(bottom, #00e0ef 0%, #00e0ef 51.49%, #00d9d8 52.25%, #00d9d8 100%);
  background-image: linear-gradient(to top, #00e0ef 0%, #00e0ef 51.49%, #00d9d8 52.25%, #00d9d8 100%);
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 12px;
  text-shadow: 0px 1px 0px rgba(150, 150, 150, 0.4);
}
